<div class="container product_main_row">
<div class="product_main">
{{ product.description }}
</div>
</div>
{% schema %}
  {
  "name": "Product_Description",
  "settings": [
  
  ],
  "presets": [
    {
      "name": "Product Description",
      "category": "Image"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}